body {
background: url("../image/wood.jpg");
background-size:fit
background-repeat:no-repeat;
padding-top:40px;
  font: 14px/18px Comic Sans', 'Comic Sans', Chalkboard, Helvetica, Arial, sans-serif;
  margin: 20px;
}

#field {
  margin: 0 auto;
  width: 590px;
  position: relative;
}

.card {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 140px;
  height: 140px;
}

.card img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 140px;
  height: 140px;
}

.card img:hover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 140px;
  height: 140px;
  cursor: pointer;
  opacity: 0.9;
}

#score, #tries {
  position: absolute;
  left: -150px;
  top: 40px;
  font-size: 100px;
  line-height: 100px;
  color: #ffffff;
  width: 100px;
  text-align: right;
}

#tries {
  font-size: 20px;
  top: 100px;
  left: -170px;
}

a {
  color: #ffffff;
}

#controls {
  position: absolute;
  top: 200px;
}
